# Variables de entorno para la configuración de la base de datos, modificar las mismas según corresponda
PORT=3000
DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=admin
DB_NAME=Ejercicio1GCBA
DB_DIALECT=mysql